.root {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.floatyball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.9;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}
