---
import DefaultLayout from '@layouts/Default.astro';
import FloatyBalls from '@components/solid/FloatyBalls';
import FloatyBallsController from '@components/solid/FloatyBallsController';
---

<DefaultLayout>
    <FloatyBalls client:load />
    <div>particles</div>
    <FloatyBallsController client:visible />
</DefaultLayout>

<style>
    body {
        overflow: hidden;
    }
</style>
