---
import DefaultLayout from '@layouts/Default.astro';
import FloatyBalls from '@components/solid/FloatyBalls';
---

<DefaultLayout>
    <FloatyBalls client:load />
    <div>particles</div>
</DefaultLayout>
