---
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Various particle effects as CSS animations">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/particles/favicon.ico">
    <title>{title ?? "Particles"}</title>
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .pointer {
        cursor: pointer;
    }
</style>
